html, body {
   background-color: #f4f7f8;
   margin: left;
   padding: 0;

 }
 .container {
  max-width: 125px;
  margin: 10px auto;
  margin-bottom: 10px auto;
  padding: 0 10px;
  background-color: yellow;
  border-style: solid;
  border-top-width: 5px;
  border-color: black;
  border: auto solid #FFF;
  border-radius: 10px;
  position: inherit;

}

p{
  text-align: center;
  font-size: 30;
  font-weight: bold;
}
h1{
  text-align: center;
}
/*textarea {

  align-content:  center;
  width:250px;
  display: block;
  margin: 0% auto;
  resize: none;
  text-align: center;
  border-radius: 7.5px;
}*/
img{
  margin: 0 auto;
  display: block;
  width:15%;
}
#errorMsg{
  text-align: center;
  color: red;
  font-size: 15px;
}
input[type=text] {

    width: 250px;
    display: block;
    margin: 0% auto;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 15px 12px 35px;
}
button {
  display: inline-block;
  width:250px;
  margin-bottom: 65px ;

  align: center;
  cursor: pointer;
  background-color: #14213D;
  color: #FFF;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  padding: 7px;
  border-radius: 8.5px;
}
