html, body {
   background-color: #f4f7f8;
   margin: left;
   padding: 0;
 }
 .container {
  width: 120px;
  margin: 10px 20px;
  display: inline-block;
  margin-bottom: 10px auto;
  margin-left: 0 30px;
  margin-right: 50px auto;
  padding: 0 10px;
  background-color: yellow;
  border-style: solid;
  border-top-width: 5px;
  border-color: black;
  border-radius: 10px;
  position: inherit;

}

p{
  text-align: center;
  font-size: 100%;
  font-weight: bold;
}
h1{
  text-align: center;
  color: #14213D;
  font-size: 125%;
  margin-bottom: auto 10%;
}
.divide{
  margin: 0 auto;
  display: inline-table;
  width: 100%;
}
#listReg {
  margin: 0 auto;
  width: 50%;
  border-top-width: 5px;
  border-radius: 10px;
  border-top-style: groove;
  border-color: snow;
  height: 150px;
  overflow-y: scroll;
}
select{
 margin: 10px;
 padding: 5px;
 border: 2px solid #333;
 width: 100px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
}
.myLocations{
    margin: 0 25%;
}

div.scrollmenu a:hover {
    background-color: #777;
}
img{
  margin: 0 auto;
  display: block;
  width:15%;
}
#errorMsg{
  text-align: center;
  color: red;
  font-size: 15px;
}
input[type=text] {

    width:20.5%;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-repeat: no-repeat;
    padding: 12px 15px 12px 35px;
}
button {
  display: inline-block;
  width:21%;
  margin-bottom: 25px ;
  align: center;
  cursor: pointer;
  background-color: #14213D;
  color: #FFF;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  padding: 7px;
  border-radius: 8.5px;
}
